{% load static %}
{% block body %}
{% include 'navigation.html' %}
<link rel="stylesheet" href="{% static 'css/style1.css'%}">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<div style="background-color: skyblue; margin-top: 10px;">
    


 <!-- ***** About Area Starts ***** -->
 {% for i in data %}

 <section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="right-content">
                    <div class="thumb">
                        <img style="border:1px solid black ; border-radius:10px;" src="{{i.image.url}}" alt="" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="left-text-content">
                    <div class="section-heading">
                        <h6> <b> {{i.title}}</b> <br></h6>
                        
                    </div>
                    
                    Location:<b> {{i.location}}</b> <br>
                    Salary:<b> {{i.salary}}</b> <br>
                    
                </div>
            </div>
           
        </div>
    </div>
</section>
<hr>
{% endfor %}
<!-- ***** About Area Ends ***** -->









</div>
{% include 'footer.html' %}
{% endblock %}