{% load static %}
{% block body %}
{% include 'user_navigation.html' %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<div style="background-color: skyblue; font-size: 18px; height: 300px; margin-top: 10px;">


 <div style="float: left;"><img src="{% static 'images/apply1.png' %}" alt=""> <br>
 </div>
    <form style="width: 23vw; float: left; text-align: center; margin-left : 15vw;"  method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="form-outline mb-4">
      <h2 style="color: #eb781b;"> <label >Application Made Easy</label></h2>
      <p style="color: black; font-size: large;">Upload your CV and you'll be able to apply to jobs in just one click!</p>
        <input type="file" name="resume" id="form2Example18" class="form-control form-control-lg" required />
      </div>
      <div  class="pt-1 mb-4">
        <button  style="margin-bottom:10px ;" class="btn btn-info btn-lg btn-block" name="submit" type="submit">Submit</button>
      </div>
    </form>

</div> <br>

{% include 'footer.html' %}

{% if error == "close" %}
<script>
  alert("Application period has expired! View other jobs.");
  window.location.href="{% url 'user_jobs' %}"
</script>
{% endif %}

{% if error == "notopen" %}
<script>
  alert("Application period has not started. View other jobs.");
  window.location.href="{% url 'user_jobs' %}"
</script>
{% endif %}
{% if error == "done" %}
<script>
  alert("Application submitted successfully!");
  window.location.href="{% url 'user_jobs' %}"
</script>
{% endif %}
{% endblock %}