{% load static %}
{% block body %}
{% include 'employer_navigation.html' %}

    <link rel="stylesheet" href="{% static 'css/style.css'%}">
<script src="{% static 'js/script.js' %}"></script>

<div style="background-color: skyblue; margin-top: 10px;">

    <form style="width: 23vw;text-align: center; margin-left : 35vw;" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
        {% csrf_token %}
  
        <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; text-align: center; color: black;">Update Job Details</h3>
        <div class="form-outline mb-4">
            <label class="form-label" for="form2Example18">Job Title</label>
            <div style="background-color: rgb(4, 24, 87); border-radius:5px; color:white;font-size:20px;">
                {{job.title}}
              </div>
          </div>
        <div class="row">
          <div class="column"><div class="form-outline mb-4">
            <label class="form-label" for="form2Example18">Start Date</label> <p style="color: red;">[{{job.start_date}}]</p>
            <input type="date" name="startdate" id="form2Example18" class="form-control form-control-lg"  />
          </div></div>
          <div class="column"><div class="form-outline mb-4">
            <label class="form-label" for="form2Example18">Closing Date</label><p style="color: red;">[{{job.end_date}}]</p>
            <input type="date" name="enddate" id="form2Example18" class="form-control form-control-lg"  />
          </div>
        </div>
      </div>

        <div class="form-outline mb-4">
            <input type="text" name="salary" id="form2Example18" class="form-control form-control-lg" value="{{job.salary}}" required />
            <label class="form-label" for="form2Example18">Salary (Ksh per month)</label>
          </div>

          <div class="form-outline mb-4">
              <input type="text" name="experience" id="form2Example18" class="form-control form-control-lg" value="{{job.experience}}" required />
              <label class="form-label" for="form2Example18">Experience(Min no of yrs)</label>
            </div>
    
          <div class="form-outline mb-4">
            <textarea name="description" id="form2Example18" class="form-control form-control-lg" required>{{job.description}}</textarea>
            <label class="form-label" for="form2Example18">Description</label>
          </div>

        <div class="pt-1 mb-4">
          <button class="btn btn-info btn-lg btn-block" name="submit" type="submit">Update</button>
        </div>
      </form>
</div>

{% if error == "no" %}
<script>
  alert("Job details updated Successfully");
  window.location.href="{% url 'employer_home' %}"
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert("Error occurred.Try again");
</script>
{% endif %}
{% include 'footer.html' %}
{% endblock %}

