{% load static %}

{% block body %}
{% include 'index_nav.html' %}

<div style="background-color: skyblue; margin-top: 10px;">
    <section id="home" class="main">
        <div class="overlay"></div>
       <div class="container">
           <div class="row">
   
                  <div class="wow fadeInUp col-md-6 col-sm-5 col-xs-10 col-xs-offset-1 col-sm-offset-0" data-wow-delay="0.2s">
                       <img src="{% static 'images/home.png' %}" width="250" height="200" class="img-responsive" alt="Home">
                  </div>
   
                  <div class="col-md-6 col-sm-7 col-xs-12">
                       <div class="home-thumb">
                            <h1 style="color: black; font-size: 30px; text-align: center;" class="wow fadeInUp" >Need a Job? </h1>
                            <p style="color: black; font-size: large;" class="wow fadeInUp">Are you looking for a driving job? Your search is over. Get all driving jobs categories such as truck driving, school bus driving, personal driving jobs.</p>
                       </div>
                       <div class="home-thumb">
                         <h1 style="color: black; font-size: 30px; text-align: center;" class="wow fadeInUp" >All driver categories</h1>
                         <p style="color: black; font-size: large;" class="wow fadeInUp">Get yourself a competent driver instantly. Post your job vacancy and get a driver in no time.</p>
                    </div>
                  </div>
   

                  
           </div>
       </div>
   </section>
</div>

{% include 'footer.html' %}
{% endblock %}