{% load static %}
{% block body %}
{% include 'employer_navigation.html' %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">

<link rel="stylesheet" href="{% static 'css/style1.css'%}">

<div style="background-color: skyblue; margin-top: 10px;">



    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Jobs</h6>
                        <h2>View jobs</h2>
                    </div>
                </div>
            </div>
            {% for i in job %}
            <div class="row">
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                           
                            <img src="{{i.image.url}}" alt="" />
                        </div>
                        <div class="down-content">
                            Job Title: {{i.title}} <br>
                            Location: {{i.location}} <br>
                            Date Created: {{i.creationdate}}<br>
                            <a style="text-decoration: none;" class="btn btn-success btn-sm" href="{% url 'edit_job' i.id %}" >Edit</a>
                            <a style="text-decoration: none;" class="btn btn-danger btn-sm" href="{% url 'del_job' i.id %}" >Del</a>
                
                        </div>
                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>
    </section>



</div>
{% include 'footer.html' %}
{% endblock %}