{% load static %}
{% block body %}
{% include 'user_navigation.html' %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="{% static 'css/style3.css'%}">

<div style="background-color: skyblue; height: fit-content;">
 <p style="font-size:22px; color:black;"> Searching for Driver Jobs in Kenya to apply to? We have the top driver jobs in Nairobi and other towns. We got you. DriverHub platform offers the latest job vacancies
</p>

<div style="height: 1000px ; margin-left: 40px;">

    {% for i in job %}

    <div style="float:left;margin-right: 5px; margin-left: 0px;">
        <figure class="snip1390"><img style="border-radius:5px ;" src="{{i.image.url}}" id="hp" alt="" height="200" width="200" />

        <figcaption>
          <h2>{{i.title}}</h2>
          
            <p>Start Date: <b>{{i.start_date}}</b> <br>
            Closing Date: <span style="color: rgb(190, 16, 16);"><b>{{i.end_date}}</b></span> <br>
            Location:<b> {{i.location}}</b> <br>
            Salary: <b>Ksh {{i.salary}}</b> <br>
       
            {% if i.id in li %}
            <span style="border-radius: 10px;" class="btn btn-success btn-sm">Applied</span>
            
            {% else %}
            <a style="text-decoration: none; border-radius: 10px; background-color: coral;" class="btn btn-success btn-sm" href="{% url 'job_details' i.id %}" >See more...</a>
           
            {% endif %}
        </p>
        </figcaption>
      </figure>
     </div>
     {% endfor %}
     <link rel="stylesheet" href="{% static 'css/style3.css'%}">
</div>

</div>
{% include 'footer.html' %}
{% endblock %}