{% block body %}
{% load static %}

{% include 'navigation.html' %}

<link rel="stylesheet" href="{% static 'css/style.css'%}">
<script src="{% static 'js/script.js' %}"></script>

<div style="background-color: skyblue;  margin-top: 10px;">


  <form style="width: 23vw;text-align: center; margin-left : 35vw;" onsubmit="return checkpass();" name="signup" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  
    <h3 class="fw -normal mb-3 pb-3" style="letter-spacing: 1px; text-align: center; color: black;">Driver Registration</h3>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">First Name</label>
        <input name="fname" type="text" class="form-control" id="inputEmail4" required >
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Last Name</label>
        <input name="lname" type="text" class="form-control" id="inputPassword4" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Email</label>
      <input name="email" type="email" class="form-control" id="inputAddress" required >
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Password</label>
        <input name="pwd" type="password" class="form-control" id="inputEmail4"  required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Confirm Password</label>
        <input name="cpwd" type="password" class="form-control" id="inputPassword4" required>
      </div>
    </div>

    <div class="form-group">
      <label for="inputAddress2">Contact no</label>
      <input name="contact" type="text" class="form-control" id="inputAddress2" required >
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Year(s) of License</label>
        <input name="yearsoflicense" type="text" class="form-control" id="inputEmail4" required >
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Year(s) of Experience</label>
        <input name="yearsofexperience" type="text" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress2">Image</label>
      <input name="image" type="file" class="form-control" id="inputAddress2" required >
    </div>
    <div class="form-group">
      <label for="inputAddress2">Location</label>
      <input name="location" type="text" class="form-control" id="inputAddress2"  required>
    </div>
    <label class="form-label" for="form2Example18">Gender</label><br/>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female
    
    <button type="submit"  name="submit" class="btn btn-info btn-lg btn-block">Sign in</button>
    <p style="color: black;">Already have an account? <a style="text-decoration: none;" href="{% url 'user_login' %}">Login</a></p>
  </form>

</div>

{% include 'footer.html' %}


{% if error == "no" %}
<script>
  alert("Registration successful");
  window.location.href="{% url 'user_login' %}"
</script>
{% endif %}

{% if error == "yes" %}
<script>
  alert("Error occurred.Try again");
</script>
{% endif %}
{% endblock %}




